<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Controls</title>
    <script>
        // Define the lists separately
        const pointsSet1 = [[50, 0, 20],
                            [100,  0,   20],
                            [100, -50,  20],
                            [100, -100, 20 ],
                            [50,  -100, 20],
                            [0,   -100, 20],
                            [0,   -50,  20],
                            [0,    0,   20]];

        const pointsHome = [[0, 0, 20]];
        const pointsAbort = [];

        async function sendControlPutRequest(points, mission_type, resp_label) {
            const responseDiv = document.getElementById("resp_label"); // Corretto id

            try {
                const response = await fetch("/controls/button-input-points", {
                    method: "PUT",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ mission_points: points , mission_type: mission_type})
                });

                const result = await response.json();
                responseDiv.innerText = result.message || result.error || resp_label;
            } catch (error) {
                responseDiv.innerText = "Error sending request.";
            }
        }
    </script>
</head>
<body>
    <h1>Choose the Control action:</h1>

    <label>Mission points:</label>
    <table border="1">
        <tr>
            <th>Point 1</th>
            <th>Point 2</th>
            <th>Point 3</th>
            <th>Point 4</th>
            <th>Point 5</th>
            <th>Point 6</th>
            <th>Point 7</th>
            <th>Point 8</th>
        </tr>
        <tr>
            <td>50, 0, 20</td>
            <td>100, 0, 20</td>
            <td>100, -50, 20</td>
            <td>100, -100, 20</td>
            <td>50, -100, 20</td>
            <td>0, -100, 20</td>
            <td>0, -50, 20</td>
            <td>0, 0, 20</td>
        </tr>
    </table>
    <button onclick="sendControlPutRequest(pointsSet1, 'grazing', 'Mission set correctly')">Set Mission Points</button>
    <button onclick="sendControlPutRequest(pointsHome, 'return_home', 'Mission set correctly')">Return Home</button>
    <button onclick="sendControlPutRequest(pointsAbort, 'no_mission', 'Mission stopped')">Abort Mission</button>

    <p id="resp_label"></p>
</body>
</html>
